{% extends 'blog/base.html' %}

{% block title %}{{ post_detail.title }}{% endblock %}
	
{% block content %}
	<article class="media content-section">
	 <img class="rounded-circle article-img" src="{{ post_detail.author.profile.image.url }}">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="{% url 'blog:user-posts' post_detail.author.username %}">{{ post_detail.author }}</a>
	      <small class="text-muted">{{ post_detail.data_posted|date:"SHORT_DATE_FORMAT" }}, {{ post_detail.data_posted|time:"H:i" }}</small>
	    {% if post_detail.author == user %}
			<div>
			  	<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' post_detail.id %}">Update</a>
			  	<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' post_detail.id %}">Delete</a>
			</div>
		{% endif %} 
	    </div>
	    <h2 class="article-title">{{ post_detail.title }}</h2>
	    <p class="article-content">{{ post_detail.content }}</p>
	  </div>
	</article>
{% endblock content %}
